<header class="container">
  <img
    src="../assets/practice-your-numbers.svg"
    class="logo"
    alt="Practice Your Numbers Logo"
  />
  <h1>Practice Your Numbers</h1>
</header>
<main>
  <div class="container">
    <article [attr.aria-busy]="isLoading$ | async">
      <span>{{ aleatoryNumber$ | async | number }}</span>
    </article>
    <button
      (click)="refreshNumber()"
      [disabled]="isLoading$ | async"
      [attr.aria-busy]="isLoading$ | async"
    >
      Refresh number
    </button>
  </div>
</main>
